@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-size: 16px;
}

@layer components {
    .kfc-shadow {
        color: theme('colors.beige');
        -webkit-text-stroke: 0.05em theme('colors.blue');
        @apply uppercase;
    }

    .kfc-shadow__dark {
        color: theme('colors.blue');
        -webkit-text-stroke: 0.05em theme('colors.beige');
        @apply uppercase;
    }
}

@layer base {
    h1,
    h2,
    h3 {
        @apply font-display;
        @apply translate-y-3;
        @apply uppercase;
    }

    h1 {
        @apply text-5xl;
        @apply mb-4;
        @apply mt-6;
    }

    h2 {
        @apply text-4xl;
        @apply mb-3;
        @apply mt-5;
    }

    h3 {
        @apply text-2xl;
        @apply my-1;
    }

    p {
        @apply my-3;
    }

    .link {
        @apply text-red;
        @apply dark:text-teal;
        @apply underline;
        @apply hover:opacity-50;
        @apply transition-opacity;
    }
}
